<% if flash[:messages] %>
  <h2>Errors</h2>
  <ul>
    <% flash[:messages].each do |error| %>
      <li><%= error %> </li>
    <% end%>
  </ul>
<% end%>
<ul>
<%= form_for @student do |f| %>
    <br> Full Name: <%= f.text_field :name %> </br>
    <br> Username: <%= f.text_field :username %> </br>
    <br> High School: <%= f.text_field :high_school %> </br>
    <br> Your current GPA: <%= f.number_field :GPA, step: :any %> </br>
    <br> <%= f.submit %> </br>
    <% end %>
</ul>





    